#main_input{
    display: flex;
    margin-top: 35px;
    padding: 20px;
    border: 2.5px solid rgb(35, 35, 35);
}
#input{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1100px;
    margin-right: 20px;
}
#log_label{
    border: 2px solid #202020;
    width: 100%;
}
#input_log{
    width: 100%;
    border: 0px;
}
#btn_pesq{
    height: 55px !important;
}
#filtros{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-top: 30px;
}
.t_filtros{
    background-color: rgb(8, 8, 8);
    border-radius: 2rem;
    padding: 0px 0px 0px 10px;
    font-size: 12px;
}
.filtro_op{
    border-radius: 2rem;
    background-color: rgb(8, 8, 8);
    border: 0px;
    font-size: 12px;
    width: 100px;
}
#filtro_item{
    width: 131px;
}
#filtro_data{
    width: 110px;
}
.none{
    display: none;
}
#result{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: 2.5px solid rgb(35, 35, 35);
    border-radius: 8px;
}
#result h1{
    font-size: larger;
}
#result table{
    width: 100%;
    table-layout: fixed;
    
}
thead{
    background-color: #212121;
}
th , td{
    padding: 15px 30px;
    border: 2.5px solid rgb(35, 35, 35);
    border-left: 0px;
    border-right: 0px;
}
td{
    width: auto;
    color: rgba(255, 255, 255, 0.575);
    padding: 30px 30px;
}
th{
    text-align: left;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.808);
}

.tipo{
    width: 15%;
}
.item{
     width: 25%;
}
.user{
    width: 20%;
}
.data{
    width: 20%;
}

.exc , .edt , .crt{
    border-radius: 2rem;
    width: 20px;
    padding: 4px 12px;
    font-weight: 600;
}
.exc{
    background-color: rgb(80, 8, 8);
    color: rgb(255, 168, 168);
}
.edt{
    background-color: rgba(10, 54, 177, 0.541);
    color: rgb(181, 201, 255);
}
.crt{
    background-color: rgba(0, 83, 11, 0.507);
    color:rgb(141, 255, 156);
}
.t{
    font-weight: 700;
    color: white;
}
#index{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
#quant{
    color: rgba(255, 255, 255, 0.637);
}
#quant strong{
    color: white;
}
#control button{
    margin: 0px;
    background-color: #0a0a0a;
    border: 2.5px solid rgb(29, 29, 29);
    padding: 5px 10px;
}
#control button:hover{
    background-color: #0f0f0f2f;
}
#control :first-child{
    border-bottom-left-radius:8px;
    border-top-left-radius:8px;
}
#control :last-child{
    border-bottom-right-radius:8px;
    border-top-right-radius:8px;
}
