/*card principal do perfil*/
.perfil-container 
{
  
  max-width: 600px;
  margin: 0 auto;
  background-color:rgb(53, 52, 52);
  border-radius: 12px;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 0 2rem rgb(43, 43, 43);
}

/**/
.perfil-logo img 
{
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 3px solid #6d2f2f;
  margin-bottom: 1.5rem;
}

.custom-btn
{
  background-color: #6D2F2F;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: 0.8rem;
  transition: 0.3s;
}

.custom-btn:hover
{
  background-color: #8a3a3a;
  transform: scale(1.05);
}


h1
{
 font-size: 32px;
}

.texto
{
  font-size: 18px;
  color: #e0e0e0;
  margin-bottom: 0.5rem;
}

/*----Pop-up----*/
.popup-senha
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content
{
  background-color: #1e1e1e;
  border: 2px solid #6d2f2f;
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

.popup-content h3
{
  font-family: "Julius Sans One", sans-serif;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.popup-content input
{
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  text-align: center;
  outline: none;
  margin-bottom: 1.5rem;
  background-color: #2b2b2b;
  color: #fff;
}

.popup-content input::placeholder
{
  color: #aaa;
}

.popup-buttons
{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.popup-buttons button
{
  flex: 1;
  background-color: #6d2f2f;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

.popup-buttons button:hover
{
  background-color: #8a3a3a;
  transform: scale(1.05);
}
